<p>thankyou works!</p>

<!-- Centered and Attractive Alert -->
<div class="alert alert-success alert-center">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check-circle-fill icon-check mb-3"
            viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.97 11.03a.75.75 0 0 0 1.08-.02L10.8 8.21a.75.75 0 1 0-1.08-1.04L7.5 9.293 6.25 8.04a.75.75 0 0 0-1.06 1.06l1.78 1.93z" />
        </svg>
    </div>
    <h5 class="font-weight-bold">Reservation Created!</h5>
    <p class="mb-3">Your reservation has been successfully created.</p>
    <button type="button" class="btn btn-success btn-custom">OK</button>
</div>